/* Override some defaults */
html {
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: CourierFoldEllipse;
  src: url('/assets/fonts/CourierFoldEllipse.ttf');
}
@font-face {
  font-family: CourierBulletDone;
  src: url('/assets/fonts/CourierBulletDone.ttf');
}
@font-face {
  font-family: CourierBulletNotDone;
  src: url('/assets/fonts/CourierBulletNotDone.ttf');
}
body {
  background: url("/assets/img/cream_dust.png");
}
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.navbar {
  margin-bottom: 0;
}
.navbar li:hover {
  background-image: -webkit-linear-gradient(top, #F2F2F2, white);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
       -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar li:active {
  background-image: -webkit-linear-gradient(top, #ebebeb, #F2F2F2);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
       -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.post-container {

}

.post {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
       -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  /*background: url("/assets/img/extra_clean_paper.png");*/
}

.post-header {
  padding: 1px 20px 15px;
  background-color: #F0F0F0;
  background-image: -moz-linear-gradient(top, #ebebeb, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #ebebeb, #dcdcdc);
  background-image: -o-linear-gradient(top, #ebebeb, #dcdcdc);
  background-image: linear-gradient(to bottom, #ebebeb, #dcdcdc);
  background-repeat: repeat-x;
}

.post-content {
  /*font-family: "Baskerville", Times, serif;*/
  /*font-size: 1rem;*/
  background: white;
  color: black;
  line-height: 1.3;
  margin: -1px 0 0 0;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
}

.post-after {
  padding: 10px;
  /*background: rgb(97%, 97%, 97%);*/
}

/* The white background content wrapper */
.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

.sidebar {
  padding: 10px 20px;
  /*background: url("/assets/img/light_noise_diagonal.png");*/
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
       -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

/*.sidebar h4 {
  background: #F0F0F0;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
}*/

h4 [class^="icon-"],
h4 [class*=" icon-"] {
  margin: 0 2px;
}
.contact {
  list-style-type: none;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* perso ======================================================== */

h1 {
  margin-bottom: 0.5em;
}

h2, h3, h4, h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

code {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
  font-size: inherit;
}

.highlight pre {
  padding: 0 3px 2px;
  font-family: Menlo,Monaco,"Courier New",monospace;
  font-size: 12px;
  color: #333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 0 rgb(90%,90%,90%);
     -moz-box-shadow: inset 1px 1px 0 rgb(90%,90%,90%);
       -o-box-shadow: inset 1px 1px 0 rgb(90%,90%,90%);
          box-shadow: inset 1px 1px 0 rgb(90%,90%,90%);
  border: none;
}

.maruku_toc {

}

.post-list {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
       -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  /*background: url("/assets/img/extra_clean_paper.png");*/
  padding: 5px 10px;
}
.post-list .name {
}
.post-list .list {

}
