<div class="row-fluid">
  <div class="span8">
    <div class="post">
      <div class="post-container">
        <div class="post-header">
          <h2 class="title">
            <a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a>
            {% if page.tagline %}<small class="subtitle">☛ {{ page.tagline }}</small>{% endif %}
          </h2>
          <div class="row-fluid">
            <div class="span4">
              <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
            </div>
          </div>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      <div class="post-after">
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a>
          {% endif %}
          </ul>
        </div>
        <hr>
        {% include JB/comments %}
      </div>
    </div>
  </div>

  <div class="span4" id="sidebar">
    <div class="sidebar">
      <h4><i class="icon-time"></i>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

    {% unless page.tags == empty %}
      <h4><i class="icon-tags"></i>Tags</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}
    </div>
  </div>
</div>
