<div class="row-fluid">
  <div class="span8">
    <div class="post">
      <div class="post-container">
        <div class="post-header">
          <h2 class="title">
            <a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a>
            {% if page.tagline %}<small class="subtitle">☛ {{ page.tagline }}</small>{% endif %}
          </h2>
          <div class="row-fluid">
            <div class="span4">
              <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
            </div>
          </div>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      <div class="post-after">
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a>
          {% endif %}
          </ul>
        </div>
        <hr>
        {% include JB/comments %}
      </div>
    </div>
  </div>

  <div class="span4" id="sidebar">
    <div class="sidebar">
      <h4><i class="icon-time"></i>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

    {% unless page.tags == empty %}
      <h4><i class="icon-tags"></i>Tags</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}

      <h4><i class="icon-time"></i>Other posts</h4>
      {% assign posts_collate = site.posts %}
      {% for post in posts_collate  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

        {% if forloop.first %}
          <h5>{{this_month}} {{this_year}}</h5>
          <ul>
        {% endif %}

        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>

        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <h5>{{next_month}} {{next_year}}</h5>
            <ul>
          {% else %}
            {% if this_month != next_month %}
              </ul>
              <h5>{{next_month}} {{next_year}}</h5>
              <ul>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
